body {
	width: 98%;
	position: relative;
	left: 1%;
	right: 1%;
	overflow: hidden;
}
p{
	font-size: 20px;
}
.leftcol {

	float: left;
	background: yellow;
	width: 48%;
	-moz-box-shadow:    3px 3px 5px 3px #D3D3D3;
  	-webkit-box-shadow: 3px 3px 5px 3px #D3D3D3;
  	box-shadow:         3px 3px 6px 2px #D3D3D3;
  	border-radius: 16px;
  	padding: 1%;

}
.rightcol {
	float: right;
	background: 24D6F2;
	width:48%;
	-moz-box-shadow:    3px 3px 5px 3px #D3D3D3;
  	-webkit-box-shadow: 3px 3px 5px 3px #D3D3D3;
  	box-shadow:         3px 3px 6px 2px #D3D3D3;
  	border-radius: 16px;
  	padding: 1%;
  	
}
.colname {
	font-style: italic;
}
.header {
	text-align: center;
	background: #f60;
	-moz-box-shadow:    3px 3px 5px 3px #D3D3D3;
  	-webkit-box-shadow: 3px 3px 5px 3px #D3D3D3;
  	box-shadow:         3px 3px 6px 2px #D3D3D3;
  	border-radius: 16px;
  	padding: 5px;
}
.date {
	width:100px;
}
.school {
	font-variant: small-caps;
	font-size: 24px;
}
.workplace {
	font-variant: small-caps;
	font-size: 24px;
}
footer {
	position: fixed;
	bottom: 1%;
	left: 1%;
	right: 1%;
	clear: both;
	background: gray;
	-moz-box-shadow:    3px 3px 5px 3px #D3D3D3;
  	-webkit-box-shadow: 3px 3px 5px 3px #D3D3D3;
  	box-shadow:         3px 3px 6px 2px #D3D3D3;
  	border-radius: 16px;
  	padding: 5px;
  	text-align: center;
}